<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plante">
            <h2><span>Plante</span> {{plante.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ph Min</span></dt>
                <dd>
                    <span>{{plante.phMin}}</span>
                </dd>
                <dt><span>Ph Max</span></dt>
                <dd>
                    <span>{{plante.phMax}}</span>
                </dd>
                <dt><span>Temp Min</span></dt>
                <dd>
                    <span>{{plante.tempMin}}</span>
                </dd>
                <dt><span>Temp Max</span></dt>
                <dd>
                    <span>{{plante.tempMax}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{plante.description}}</span>
                </dd>
                <dt><span>Classification Cronquist</span></dt>
                <dd>
                    <div *ngIf="plante.classificationCronquistId">
                        <a [routerLink]="['/classification-cronquist', plante.classificationCronquistId, 'view']">{{plante.classificationCronquistId}}</a>
                    </div>
                </dd>
                <dt><span>Strate</span></dt>
                <dd>
                    <div *ngIf="plante.strateId">
                        <a [routerLink]="['/strate', plante.strateId, 'view']">{{plante.strateId}}</a>
                    </div>
                </dd>
                <dt><span>Vitesse Croissance</span></dt>
                <dd>
                    <div *ngIf="plante.vitesseCroissanceId">
                        <a [routerLink]="['/vitesse-croissance', plante.vitesseCroissanceId, 'view']">{{plante.vitesseCroissanceId}}</a>
                    </div>
                </dd>
                <dt><span>Ensoleillement</span></dt>
                <dd>
                    <div *ngIf="plante.ensoleillementId">
                        <a [routerLink]="['/ensoleillement', plante.ensoleillementId, 'view']">{{plante.ensoleillementId}}</a>
                    </div>
                </dd>
                <dt><span>Richesse Sol</span></dt>
                <dd>
                    <div *ngIf="plante.richesseSolId">
                        <a [routerLink]="['/richesse-sol', plante.richesseSolId, 'view']">{{plante.richesseSolId}}</a>
                    </div>
                </dd>
                <dt><span>Type Terre</span></dt>
                <dd>
                    <div *ngIf="plante.typeTerreId">
                        <a [routerLink]="['/type-terre', plante.typeTerreId, 'view']">{{plante.typeTerreId}}</a>
                    </div>
                </dd>
                <dt><span>Type Feuillage</span></dt>
                <dd>
                    <div *ngIf="plante.typeFeuillageId">
                        <a [routerLink]="['/type-feuillage', plante.typeFeuillageId, 'view']">{{plante.typeFeuillageId}}</a>
                    </div>
                </dd>
                <dt><span>Type Racine</span></dt>
                <dd>
                    <div *ngIf="plante.typeRacineId">
                        <a [routerLink]="['/type-racine', plante.typeRacineId, 'view']">{{plante.typeRacineId}}</a>
                    </div>
                </dd>
                <dt><span>Plant Common Name</span></dt>
                <dd>
                    <span *ngFor="let plantCommonName of plante.plantCommonNames; let last = last">
                        <a [routerLink]="['/plant-common-name', plantCommonName?.id, 'view' ]">{{plantCommonName.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plante', plante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
