<div>
    <h2 id="page-heading">
        <span>Page Webs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-page-web" [routerLink]="['/page-web/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Page Web
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pageWebs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Url</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pageWeb of pageWebs ;trackBy: trackId">
                <td><a [routerLink]="['/page-web', pageWeb.id, 'view' ]">{{pageWeb.id}}</a></td>
                <td>{{pageWeb.description}}</td>
                <td>{{pageWeb.url}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/page-web', pageWeb.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/page-web', pageWeb.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'page-web/'+ pageWeb.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
