<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-livre-heading">Create or edit a Livre</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!livre.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="livre.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="livre.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isbn">Isbn</label>
                    <input type="text" class="form-control" name="isbn" id="field_isbn"
                        [(ngModel)]="livre.isbn" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_auteur">Auteur</label>
                    <input type="text" class="form-control" name="auteur" id="field_auteur"
                        [(ngModel)]="livre.auteur" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_page">Page</label>
                    <input type="number" class="form-control" name="page" id="field_page"
                        [(ngModel)]="livre.page" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
