<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recolte">
            <h2><span>Recolte</span> {{recolte.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Plante</span></dt>
                <dd>
                    <div *ngIf="recolte.plante">
                        <a [routerLink]="['/plante', recolte.plante?.id, 'view']">{{recolte.plante?.id}}</a>
                    </div>
                </dd>
                <dt><span>Mois</span></dt>
                <dd>
                    <div *ngIf="recolte.mois">
                        <a [routerLink]="['/mois', recolte.mois?.id, 'view']">{{recolte.mois?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recolte', recolte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
