<div class="container">

    <!-- <div class="row">
        Choix des plantes par id :
        <input #searchBox id="search-box" class="form-control form-control-lg form-control-borderless" (input)="searchByPlantId(searchBox.value)">
        <ul class="search-result">
            <li *ngFor="let plante of plantes">
                <a [routerLink]="['/plante', plante.id, 'view' ]">
                    {{plante.classificationCronquist?.espece?.name}}
                </a>
            </li>
        </ul>
    </div> -->
    <!-- <div class="row">
        Choix des noms commun par pattern :
        <input #searchBox id="search-box" class="form-control form-control-lg form-control-borderless" (input)="searchByPlantCommonName(searchBox.value)">
        <ul class="search-result">
            <li *ngFor="let commonName of plantCommonNames">
                <a [routerLink]="['/plant-common-name', commonName.id, 'view' ]">
                    {{commonName.commonName}}
                </a>
            </li>
        </ul> -->
</div>
<div class="row">
    Choix des plantes par pattern de nom commun :
    <input #searchBox id="search-box" class="form-control form-control-lg form-control-borderless" (input)="searchPlantByPlantCommonName(searchBox.value)"
        (keyup.enter)="searchPlantByPlantCommonName(searchBox.value)">
    <!-- (blur)="purgePlantResearch()" -->
    <ul class="search-result">
        <li *ngFor="let plante of plantes$ | async">
            <a [routerLink]="['/plante', plante.id, 'view' ]" (click)="addPlant(plante); searchBox.value = '';purgePlantResearch()">
                <span *ngFor="let commonName of plante.plantCommonNames">
                    {{commonName.commonName}}
                </span>
                ({{plante.classificationCronquist?.espece?.name}})
            </a>
        </li>
    </ul>
    <!-- Same result with observable
    <ul class="search-result">
        <li *ngFor="let plante of plantes$ | async">
            <span *ngFor="let commonName of plante.plantCommonNames">
                {{commonName.commonName}}
            </span>
        </li>
    </ul> -->
</div>
<div class="row">
    <!-- <ul class="selectedPlants">
        <li *ngFor="let plante of selectedPlantes">
            <a [routerLink]="['/plante', plante.id, 'view' ]">
                <span class="badge">{{plante.id}}</span>
                <span *ngFor="let commonName of plante.plantCommonNames">{{commonName.commonName}}</span>
            </a>
            <button class="delete" title="delete plant" (click)="deletePlant(plante)">x</button>
        </li>
    </ul>-->


    <!-- Here, Observable test
    <ul class="search-result">
        <li *ngFor="let commonName of commonNames$ | async">
            <span>
                {{commonName.commonName}}
            </span>
        </li>
    </ul> -->
</div>

<!-- <div class="row">
    <ul class="selectedPlants">
        <li *ngFor="let selectedPlant of listOfSelectedPlants">
            <a [routerLink]="['/plante', selectedPlant.plante?.id, 'view' ]">
                <span class="badge">{{selectedPlant.plante?.id}}</span>
                <span *ngFor="let commonName of selectedPlant.plante.plantCommonNames">{{commonName.commonName}}</span>
                ({{selectedPlant.classificationCronquist?.especeName}})
            </a>
            <button class="delete" title="delete plant" (click)="deletePlant(plante)">x</button>
        </li>
    </ul>
</div> -->


<!-- <div class="row">
    <div class="col-md-6">
        Ici les interactions qui vont bien
        <li *ngFor="let interaction of goodInteractions">
            <a [routerLink]="['/plante', interaction.id, 'view' ]">
                <span class="badge">{{interaction.id}}</span>
                <span *ngFor="let commonName of interaction.plantCommonNames">{{commonName.commonName}}</span>
                ({{interaction.classificationCronquist?.especeName}})
            </a>
            <button class="delete" title="delete plant" (click)="deletePlant(plante)">x</button>
        </li>

    </div>
    <div class="col-md-6">
        Ici les interactions qui vont pas
    </div>
</div> -->
