<h1>Qu'est-ce que l'allélopathie ?</h1>
<p>
    Ce terme complexe définit les inter-actions biochimiques entre les plantes ou les micro-organismes les
    entourant.
    Les composés biochimiques essentiels à la vie des plantes ne sont pas concernés par le processus, seuls les
    métabolites secondaires entrent dans ce cadre bien précis et c'est là tout l'intérêt de l'allélopathie. En
    effet
    les métabolites secondaires ne jouent aucun rôle dans le développement ou le fonctionnement d'une cellule
    vitale
    mais ils ont des fonctions de défense ou de communication.

</p>

<h2>Nature des composés allélochimiques</h2>
<ul>
    <li>
        Les flavonoïdes qui sont responsables des couleurs des fleurs ou des fruits et qui sont une source
        d'antioxydants très importante.
    </li>
    <li>
        Les glucosinolates responsables d'une saveur bien spécifique à certains légumes de la famille des
        Brassicacées
        comme le radis, le cresson ou la moutarde.
    </li>
    <li>
        Les alcaloïdes, sont plus de 8000, et sont classés en plusieurs catégories selon leur fonction
        chimique.
        Les
        alcaloïdes forment des sels et sont présents dans certains tanins. Le suffixe '-ine', comme dans
        'caféine',
        'strychnine', 'quinine' les évoque.
    </li>
    <li>
        Les terpénoïdes trouvent leur fonctions dans le parfum des plantes comme l'eucalyptus, la cannelle ou
        le
        camphre. Ils jouent un rôle important dans les pharmacopées traditionnelles.
    </li>
    <li>
        Les acides phénoliques qui, pour faire un raccourci, sont des antioxydants mais qui peuvent aussi
        perturber
        l’absorption minérale par les plantes. On les trouve dans des plantes comme les myrtilles, le romarin
        ou le
        basilic.
    </li>
</ul>
</div>


<h2>Actions allélopathiques</h2>


Souvent plusieurs de ces composés entrent dans le processus de l'allélopathie. On voit ainsi des plantes
communiquer



<ul>
    <li>
        par échanges gazeux de phytohormones
    </li>
    <li>
        par volatilisation
    </li>
    <li>
        par décomposition de certains résidus de la plante
    </li>
    <li>
        par exsudat racinaire
    </li>
</ul>
Le pH du milieu a son importance dans le processus allélopathique tout comme la lumière du soleil dans certains
cas.
Les plantes parvennent ainsi
<ul>
    <li>
        à attirer le prédateur de leur ravageur
    </li>
    <li>
        à repousser leur ravageur
    </li>
    <li>
        à favoriser la pousse d'autres végétaux (engrais)
    </li>
    <li>
        à inhiber la pousse d'autres végétaux (couverture de sol et engrais verts)
    </li>
</ul>

<h1>De la théorie à la pratique</h1>
Les associations de cultures ou le compagnonnage : on en parle beaucoup en jardinage. On peut distinguer trois
grands
types d’associations :
<ul>
    <li>
        Les associations allélopathiques quant aux actions positives ou négatives sur les plantes voisines.
        Certaines
        plantes sont plus résistantes aux maladies et moisissures si elles sont en compagnie d'une autre
        plante.
    </li>
    <li>
        Les imbrications de culture pour mieux occuper l'espace
        <ul>
            <li>
                quand les plantes ne poussent pas à la même vitesse (l'une est récoltée quand l'autre
                commence à germer)
            </li>
            <li>
                quand les plantes n'ont pas le même port (des radis au pied des tomates)
            </li>
            <li>
                quand une plante sert de tuteur à une autre ou quand elle lui donne l'ombre dont elle a besoin
                (ou
                la
                soustrait à la vue des nuisibles)
            </li>
            <li>
                quand des plantes n'ont pas le même système racinaire (racines profondes et superficielles
                s'associent
                bien quand deux type similaires se font de la concurrence)
            </li>
        </ul>
    </li>
    <li>
        Les rotations de cultures quand une famille de plantes améliore le sol pour une autre famille
    </li>
</ul>

<h1>Mise en oeuvre</h1>
Les propositions d’associations ne sont que des constatations empiriques et sont liées aux lieux et climats.
Mais
des
grandes règles existent pour réussir ses associations
<ol>
    <li>
        La règle de base est d’éviter de cultiver côte à côte, des membres de la même famille. (cf. Imbrication
        de
        cultures). Par exemple : oignons et échalotes.
    </li>
    <li>
        La deuxième règle est de ne pas pratiquer de monocultures intensives qui deviennent des cibles de choix
        pour
        les nuisibles. (cf. Associations allélopathiques)
    </li>
    <li>
        La troisième règle est de ne pas pratiquer systématiquement les mêmes cultures sur le même support (cf.
        Rotation de culture)
    </li>
    <li>
        La quatrième règle est de garder un sol humide (cf. Couverture de sol)
    </li>
    <li>
        Les aromatiques ont toutes un pouvoir répulsif sur les nuisibles
    </li>
    <li>
        Evitez de cultiver ensemble 2 légumes fortement aromatiques et dont les nuances olfactives s’opposent.
    </li>
    <li>
        Les Liliacées et les Légumineuses doivent être séparées car elles ne font pas bon ménage.
    </li>
</ol>


<h1>Quelques références</h1>
Le petit guide du jardinage biologique. Livre intéressant pour démarrer un potager bio... J-P Thorez, Ed. Terre
Vivante, - Rens. et commandes : chez Nature & Progrès.<br />

Le Jardin au Naturel, François Couplan et Françoise Marny, Bordas 1995.<br />

Le jardin potager biologique, Aubert C., Le courrier du Livre, Paris 1985.<br />
